@import 'normalize.css';
@import './FontFamily.scss';

:root {
  --primary-color: #00ba51;
  --primary-bg: #00b14f;
  --font-family: 'Lato', sans-serif;
  --text-color: #1c1c1c;
  --secondary-text-color: #676767;
  --while: #fff;
  --icon-color: brightness(0) saturate(100%) invert(39%) sepia(4%) saturate(0%) hue-rotate(138deg) brightness(100%)
    contrast(91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input {
  border: none;
  outline: none;
}

input,
textarea {
  background-color: transparent;
}

button,
input,
label,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.separate {
  margin: 24px 0 16px;
  width: 100%;
  height: 1px;
  background-color: #4dc984;
}

.dot-separate {
  margin: 0 8px;
}

.icon {
  filter: var(--icon-color);
}
