@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.restaurant {
  &__popular-list {
    margin-top: 500px;
  }

  &__popular-title {
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 50px;

    &--highlight {
      color: var(--primary-color);
    }
  }
}
