@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.wrapper {
  margin-top: 120px;
  margin-bottom: 50px;
  @include media-breakpoint-down(lg) {
    margin-top: 150px;
  }
  @include media-breakpoint-down(md) {
    margin-top: 35px;
  }
}

.errors-message {
  color: #f44336;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 5px;
  user-select: none;
}

.isError {
  border: 1px solid rgb(244, 67, 54) !important;
}

.icon {
  width: 16px !important;
  height: 16px !important;
  color: var(--text-color);
  display: block;
  transition: 0.5s;
}

.special-icon {
  display: none;
}

.btn-container {
  @include media-breakpoint-down(xl) {
    margin-top: 50px;
  }

  @include media-breakpoint-down(md) {
    justify-content: space-between;
    width: 100%;
  }
  display: flex;
  gap: 20px;
  margin-left: auto;
  font-weight: 500;
}

.cancel-btn {
  width: 150px;
  height: 50px;
  background-color: transparent;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid var(--text-color);

  &:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
}

.update-btn,
.change-btn {
  width: 150px;
  height: 50px;
  background-color: var(--primary-color);
  margin-left: auto;
  color: white;
  border-radius: 10px;
  font-weight: 500;

  &:hover {
    opacity: 0.9;
  }
}

.select-image-btn {
  transform: translateY(100%);
  transition: transform 0.5s;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  background-color: rgb(246, 246, 246, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  clip-path: circle(100% at 50% 100%);

  cursor: pointer;
  &:hover {
    background-color: rgb(246, 246, 246, 0.6);
  }
}

.loader {
  width: 100px !important;
  height: 100px !important;
}

.onLoader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-personal-info {
  grid-template-columns: 1fr !important;
}

.eye-icon {
  width: 24px;
  height: 24px;
  display: block;
  color: var(--primary-color);
  position: absolute;
  top: 50%;
  cursor: pointer;
  // padding: 10px;
  // transform: translateY(-50%);
  right: 20px;
}

.profile {
  &__img-container {
    color: var(--text-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f6f6f6;
    padding: 20px 20px 30px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  &__sub-row {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__avatar-container {
    width: 140px;
    height: 140px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s;
    &:hover .select-image-btn {
      transform: translateY(0);
    }
  }

  &__select-img-title {
    margin-top: 20px;
  }

  &__img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid rgb(246, 246, 246, 0.7);
    object-fit: cover;
    min-height: 140px;
    min-width: 140px;

    &-content {
      z-index: 999;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(1px);
      // backdrop-filter: blur(110px);
      inset: 0;
    }
  }

  &__user-name {
    margin-top: 5px;
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.5s;
  }

  &__registered-day {
    margin-top: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.5s;
  }

  &-nav-container {
    color: var(--text-color);
    background-color: #f6f6f6;
    margin-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 200px;
    @include media-breakpoint-down(xl) {
      padding-bottom: 30px;
      margin-bottom: 10px;
    }
  }

  &-nav__item {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
    transition: all 0.5s;
    &-active {
      border: 1px solid var(--primary-color);
      color: var(--primary-color);

      .icon {
        color: var(--primary-color);
      }
    }

    &:hover {
      color: var(--primary-color);
    }

    &:hover .icon {
      color: var(--primary-color);
    }
  }

  &-nav__title {
    font-size: 1.8rem;
    background: transparent;
    font-weight: 600;
    margin-top: 10px;
    cursor: default;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &-content__title {
    font-size: 2rem;
    font-weight: 600;
    padding: 9px 0 0 16px;
  }

  &-content-container {
    color: var(--text-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f6f6f6;
    height: 100%;
    padding: 20px;
    position: relative;

    @include media-breakpoint-down(xl) {
      min-height: 50vh;
    }

    @include media-breakpoint-down(md) {
      padding: 10px;
    }
  }

  &-input-container {
    display: grid;
    gap: 20px;
    row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-down(lg) {
      row-gap: 15px;
      grid-template-columns: 1fr;
    }

    @include media-breakpoint-down(md) {
      row-gap: 10px;
    }
  }

  &-input-group {
    position: relative;
    width: 100%;
    transition: all 0.5s;

    &__label {
      font-weight: 500;
      display: block;
      font-size: 1.6rem;
      position: relative;
    }

    & input[type='text'],
    input[type='password'] {
      transition: all 0.5s;
      width: 100%;
      height: 42px;
      padding: 10px 10px;
      border: 1px solid var(--secondary-text-color);
      border-radius: 10px;
      margin-top: 5px;
      font-size: 1.7rem;
      &:hover {
        border: 1px solid var(--primary-color);
      }
    }
  }
}

.gender {
  &-container {
    width: 100%;
    height: 42px;
    margin-top: 5px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all 0.5s;

    &:hover {
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
    }

    &:hover .gender__option {
      color: var(--text-color);
    }
  }

  &__selected-value {
    font-size: 1.7rem;
  }

  &__icon {
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }

  &__options {
    display: none;
    bottom: -90px;
    left: 0;
    border-radius: 10px;
    position: absolute;
    background: white;
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
      rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }

  &__option {
    width: 100%;
    height: 42px;
    font-size: 1.7rem;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    // border-radius: 10px;
    transition: all 0.5s;

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      background-color: #d8f0df;
      color: var(--primary-color) !important;
    }
  }
}

.isShow {
  display: block;
}

.no-change {
  pointer-events: none;
  user-select: none;
  color: #bababa;

  & .gender {
    &-container {
      border: 1px solid #bababa !important;
    }

    &__icon {
      color: #bababa !important;
    }

    &__selected-value {
      color: #bababa !important;
    }
  }

  & input[type='text'],
  input[type='password'] {
    border: 1px solid #bababa !important;
    &::placeholder {
      color: #bababa !important;
      opacity: 1;
    }
  }
}

.date-picker {
  width: 100%;
  height: 42px;
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 10px;

  &.no-change {
    border: 1px solid #bababa !important;
  }
}
