@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.home {
  &__title-1,
  &__title-2,
  &__title-3,
  &__title-4 {
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--text-color);

    &--highlight {
      color: var(--primary-color);
    }

    @include media-breakpoint-down(md) {
      font-size: 2rem;
      font-weight: 600;
    }
    &--highlight {
      color: var(--primary-color);
    }
  }

  &__title-1 {
    margin-top: 64px;
    margin-bottom: 48px;
    @include media-breakpoint-down(md) {
      margin-top: 48px;
      margin-bottom: 20px;
    }
  }

  &__title-2 {
    margin-bottom: 50px;
    margin-top: 60px;
    @include media-breakpoint-down(md) {
      margin-top: 48px;
      margin-bottom: 10px;
    }
  }

  &__title-3 {
    margin-top: 50px;
    font-size: 3.6rem;
    font-weight: 600;
    @include media-breakpoint-down(md) {
      margin-top: 15px;
    }
  }

  &__title-4 {
    // margin-top: 50px;
    font-size: 3.6rem;
    margin: 40px 0;
  }

  &__sub-title {
    font-size: 2.4rem;
    color: var(--text-color);
    font-weight: 700;
  }

  &__faq-text {
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 1.4rem;
  }
}

.sparate {
  margin-top: 80px;
  margin-bottom: 16px;
  border: 1px solid #e5e9f0;
  gap: 10px;
  @include media-breakpoint-down(md) {
    height: 8px;
    background-color: #f7f7f7;
    border: none;
    margin: 0;
  }
}

.reason-container {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  gap: 15px;
}

.reason-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  text-align: left;

  &__check-icon {
    width: 12px;
    height: 12px;
    margin-top: 2px;
    color: var(--primary-color);
  }

  &__keyword {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
  }
}

// footer banner

.banner-footer {
  padding: 108px 0;
  background-color: #f7f7f7;
  margin-top: 30px;

  @include media-breakpoint-down(md) {
    padding: 48px 0;
  }
  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 14px;

    &-img {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      padding-bottom: 25px;
    }
  }

  &__left {
    @include media-breakpoint-down(md) {
      margin-bottom: 48px;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__desc {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 24px;
  }

  &__logo-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
  }
}
