@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.home {
  height: 100vh;
}

.banner {
  height: 52vh;
  width: 100%;
  background-color: red;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
