@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.terms-of-use {
  color: var(--primary-text-color);
  font-size: 1.7rem;
  & strong {
    font-weight: 600;
  }

  & li {
    width: 85%;
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    gap: 10px;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &:first-child {
      margin-top: 0px;
    }

    & .check-icon {
      margin-top: 6px;
      width: 14px;
      height: 14px;
      color: var(--primary-color);
    }
  }
}
